.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display:flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity:1;
  
}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity:0;
  
}
.modal{
    background: $purple;
    color:white;
    max-width:30rem;
    outline: none;
    padding: 2em;
    text-align: center;
}
.modal__head{
    padding: 15px 0;
    font-size:1.4em;
}
.modal__text{
    padding: 15px 0;
    font-weight: 400;
    word-break: break-all;
}

